@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.hero-container, .header, .hero, ul, .section, .card-container, .blue {
    display: flex;
}

.hero-container,
.section {
    padding: 100px 200px;
}

.hero-container {
    padding-top: 0;
}

.hero-container, .section-white {
    flex-direction: column;
}

.hero-container, a, button, .blue,
.footer {
    color: white;
}

.hero-container,
.footer {
    background-color: #1f2937;
}

.header,
.hero {
    justify-content: space-between;
    align-items: center;
}

.header {
    margin-bottom: 50px;
}

.logo {
    font-weight: 700;
    font-size: 24px;
}

ul {
    gap: 8px;
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

p {
    font-size: 18px;
}

blockquote p {
   font-size: 36px;
   font-style: italic;
}

figcaption {
   text-align: right;
   font-weight: 700;
}

.section-white,
.footer {
    text-align: center;
}

.card-container {
    flex-direction: row;
    gap: 50px;
}

.card img {
    border-radius: 10px;
    border: 5px solid #3882f6;
}

.section-gray {
    background-color: #e5e7eb;
}

.section-blue {
    justify-content: center;
}

button, .blue {
    background-color: #3882f6;
}

.blue {
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.blue button {
    border: 1px solid white;
}

button {  
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    max-height: 30px;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
}